.table {
border-style: solid;
border-width: 2px;
padding: 80px 80px;
margin: 10px 1100px 0px 10px;
}
.table1
{
border-style: solid;
border-width: 2px;
padding: 20px;
margin: 10px 0px 0px 10px;
text-align: center;	
}
#mycheckbox{
	display: flex;
	flex-wrap: wrap;

}
.table {
	object-position: left;
	margin: left;
}
	/*text-decoration: line-through;*/